*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: url(../images/grass.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}
h1 {
    text-align: center;
    color: #333;
    font-size: 22px;
    font-weight: 800;
}
.logo {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 15px;

}
.container {
    max-width: 600px;
    width: 100%;
    padding: 20px 23px 20px 23px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}
a {
 text-decoration: none !important;
 color: inherit;
}
.logo:hover {
    animation: jiggle 0.5s ease-in-out infinite;
}

@keyframes jiggle {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}
/* Navbar */
.navbar-nav{
    font-weight: 800;
}

/* INDEX Main */
.container-info {
    max-width: 600px;
    width: 100%;
    padding: 20px 23px 20px 23px;
    background-color:#ebe847;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

}
/* Button */
.pushable {
  background: #5a7722;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji", NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 5px;
  
}

.pushable:hover {
    font-size: large;
}
/* CALCULATOR HTML */
.img-thumbnail {
height: 250px;
width: 330px;
}

.video-iframe {
    width: 100%;
    height: 350px;
}
.calculator-container{
max-width: 800px;
width: 100%;
padding: 20px 23px 20px 23px;
background-color: #ebe847;
border-radius: 15px;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
cursor: pointer;
font-size: medium;
}
.bi-info-circle {
    cursor: pointer;
    font-size: 45px;
}

.result {
    display: none;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    line-height: 25px;
}
.result h2 {
    font-size: 19px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    
}
.input-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.info-reset-button-container {
    background-color: #67216c;
}
#adviceBtn {
    color: green;
}
#adviceBtn:hover {
    font-size: large;
}
/* ADVICE HTML */ 
#cookIcon {
    width: 150px;
height: 150x;
}
.container-under,
.container-healthy,
.container-over {
    max-width: 600px;
    width: 100%;
    padding: 20px 23px;
    background-color: #ebe847;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: larger;
    transition: transform 0.3s ease; 
    margin: 0.5rem;
}

.container-under:hover,
.container-healthy:hover,
.container-over:hover {
    transform: scale(1.05); 
}
#underModal, #healthyModal, #overModal{
background-color: #67216c;
}
#unicornIcon, #iceCreamIcon, #sleepingIcon { 
    max-width: 100%;
    width: 200px;
    height: 200px;
   
}
#multiHorse, #healthyHorse, #twoHorses{
    max-width: 100%;
    width: 200px;
    height: 200px;
    
}
  /* CSS for smaller screens */
  @media (max-width: 767px) {
    .vet {
      text-align: center;
      margin: 20px 0; 
    }
    .row {
      flex-direction: column; 
    }
    .vet {
      display: flex; 
      align-items: center; 
    }
    .img {
      margin-top: 20px; 
    }
  }